scripts/canup.sh
simulation/out.txt
simulation/results.txt
simulation/results/errors_noattack_4nodes.txt
simulation/results/errors_nosign_3nodes.txt
simulation/results/errors_nosign.txt
simulation/results/errors_sign_2attackers.txt
simulation/results/errors_sign_3attackers.txt
simulation/results/errors_sign_4attackers.txt
simulation/results/errors_sign_noattack.txt
simulation/results/errors.txt
simulation/results/GRAPHS_2.ods
simulation/results/GRAPHS.ods
simulation/results/log.txt
simulation/results/nosign.txt
simulation/results/out_nosign.txt
simulation/results/out_sign.txt
simulation/results/simu5attackers.txt
simulation/results/txerrors.ods
simulation/errors.txt
simulation/graph.plot
simulation/graph.png
simulation/graph2.plot
simulation/graph2.png
simulation/log.txt
simulation/new_graph.png
